.App {
  text-align: center;
  background-image: url(https://wallpaperaccess.com/full/914867.jpg);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
}

.app-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 2000px;
}

.sharkTank {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;

  .sharkHeader{
    display: flex;

    .sharkTitle {
      margin-bottom: 23px;
      color: white;
      background: url(https://ak5.picdn.net/shutterstock/videos/1009783205/thumb/1.jpg) no-repeat;
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
    }
    .shark-button {
      background: url(https://ak5.picdn.net/shutterstock/videos/1009783205/thumb/1.jpg) no-repeat;
      height: 60%;
      color: white;
      font-weight: bold;
      margin-top: 5px;
      margin-right: 0;
      margin-left: auto;
      z-index: 1;
    }
  }

  .sharkTank-section {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255,0,0,0.5);
    box-shadow: 0 0 10px 10px rgba(129, 165, 189, 0.473) inset;
    border: none;
    width: 500px;
    height: 1800px;
    align-content: flex-start;
  }

  .surf-container{
    position: relative;
    color: red;
    width: 50%;
    max-width: 240px;
    height: 150px;
    padding: 5px;

      .surfText {
        position: absolute;
        top: 56px;
        left: 20px;
        background: url(https://ak5.picdn.net/shutterstock/videos/1009783205/thumb/1.jpg) no-repeat;
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
      }
    
      #surfboard {
        position: relative;
        bottom: 50px;
        width: 100%;
        margin-left: 11px;
        overflow: hidden;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari 3-8 */
        transform: rotate(90deg);
        *{pointer-events: none;}
      }
  }
}

.graveyard {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;

  .grave-header {
    margin-bottom: 15px;
    
    .graveTitle {
      color: white;
      background: url(https://miro.medium.com/max/2625/1*d8DyNLUIa8xo5rGrO-2FSg.jpeg) no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

     #skull {
      font-size: xx-large;
      margin-right: 0;
      margin-left: auto;
    }
  }
}



